* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
display: table;
	//height: auto;
	min-width: 1280px;
//	min-height: 1520px;
	height: 100%;
}
body {
	display: table-cell;height: 100%;
}

.activeHighlight {
	position: absolute;		
	width: 2px;
	height: 8px;
	background: #00f;
}
.face {
	height: 46px;
	width: 46px;
	border-radius: 23px;
}

/*menu*/
.menu {
	float: left;
	height: 100%;	
}
.primary {
	position: fixed;
	top: 0;
	width: 100px;
	min-height: 390px;
	height: 100%;
	background: #1d2531;
	vertical-align: top;
}
.primary-wrapper {
	text-align: center;
}
.primary-wrapper img {
	margin-top: 20px;
}
.primary-wrapper .activeHighlight {
	top: 46px;
}
.primary-bottomActions {
	position: absolute;
	bottom: 20px;
}
.primary-bottomActions img {
	margin-left: 20px;
}
.secondary {
	margin-left: 100px;
	width: 250px;
	min-height: 100%;
	background: #222c3c;
	
}
.secondary ul {
	position: relative;
	padding: 20px 0;
	margin: 0 30px;
	font: 14px/36px "ProximaNova";
	color: #b7c0cd;
	list-style: none;
}
.secondary ul li:first-of-type {
	font: 12px/40px "ProximaNova";
	color: #5b6779;
	background: url(images/012.png) no-repeat right center;
}
.notification {
	position: absolute;
	right: 0;
	transform: translateY(8px);
	border-radius: 7px/10px;
	padding: 5px;
	line-height: 10px;
	background: #00f;
	color: #fff;
}
.alert {
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	transform: translateY(8px);
	border-radius: 10px;
	text-align: center;
	background: #e64528;
	color: #fff;
}
.secondary-part2,
.secondary-part3 {
	border-top: 1px solid #aaa;
}
.secondary-part2 li:nth-of-type(n+2) {
	text-indent: 30px;
}
.secondary-part2 li:nth-of-type(2) {
	background: url(images/013.png) no-repeat left center;
}
.secondary-part2 li:nth-of-type(3) {
	background: url(images/001.png) no-repeat left center;
}
.secondary-part2 li:nth-of-type(4) {
	background: url(images/002.png) no-repeat left center;
}
.secondary-part2 li:nth-of-type(5) {
	background: url(images/003.png) no-repeat left center;
}
.secondary .activeHighlight {
	top: 560px;
}
.serverCapacity {
	position: fixed;
	bottom: 30px;
	padding: 30px;
	font: 14px "ProximaNova";
	color: #fff;
	background: #222c3c;
}
.serverCapacity p {
	position: relative;
	height: 6px;
	margin-top: 20px;
	border-radius: 3px;
	background: #2d3848;
}
.serverCapacity p span {
	position: absolute;
	width: 40px;
	height: 6px;
	border-radius: 3px;
	background: #9886e3;
}
/*chat*/
.chat {
	margin-left: 350px;
}
.head {
	width: 100%;	
	height: 80px;
	border-bottom: 1px solid #ccc;
}
.head>p:first-of-type {
	float: left;
	margin-left: 25px;
	font: 24px/80px "ProximaNova";
	color: #354052;
}
.head>p:last-of-type {
	position: fixed;
	top: 0;
	right: 25px;
	height: 78px;
	background: rgba(255,255,255);
	z-index: 9999;
}
.head-wrapper {
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}
.head-wrapper span:first-of-type {
	font:  16px "ProximaNova";
	color: #2399f1;
}
.head-wrapper span:last-of-type {
	font:  14px "ProximaNova";
	color: #b5b5b5;
}
.head>p>img {
	padding: 15px;
	vertical-align: middle;
}
.head>p>a {
	vertical-align: middle;
}
.chat {
	height: 100%;
}
.chat-left {
	float: left;
	border-right: 1px solid #ccc;
	width: 400px;
	height: calc(100% - 80px);
}
.chat-left div.chat-left-part1 {
	height: 70px;
}
.chat-left-part1 input {
	
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 7px;
	width: 340px;
	height: 36px;
	font:  14px/36px "ProximaNova";
	text-indent: 15px;
	background: url(images/014.png) no-repeat 300px center;
	color: #9fa9ba;
}
.chat-left>div {
	padding: 10px 20px 0 30px;
	border-bottom: solid 1px #ccc;
	height: 130px;
	border-bottom: 1px solid #ccc;
}
.avator {
	height: 46px;
}
.avator img {
	vertical-align: middle;
}
.avator p {
	display: inline-block;
	margin-left: 20px;
	font:  16px "ProximaNova";
	color: #585d68;
	vertical-align: middle;
	width: 270px;
}
.avator p span:first-of-type {
	float: right;
	font:  14px/22px "ProximaNova";
	color: #7f8fa4;
}
.avator p span:last-of-type {
	font:  14px "ProximaNova";
	color: #b5b5b5;
}
.chat-left-part-comment {
	margin-top: 10px;
	font:  14px/19px "ProximaNova";
	color: #585d68;
}
.chat-left-part-comment-notification {
	position: relative;
	top: 10px;
	float: right;
	border-radius: 10px;
	padding: 5px;
	line-height: 10px;
	background: #00f;
	color: #fff;
}
.chat-left-part2 {
	border-left: 2px solid #00f;
}
.chat-left-part2 .avator p {
	color: #2399f1;
}
.chat-right {
	margin-left: 400px;
}
.chat-right-part1 {
	font:  17px/70px "ProximaNova";
	border-bottom: 1px solid #ccc;
	padding-left: 30px;
	height: 70px;
}
.chat-right-part1 p:first-of-type {
	display: inline-block;
	font: 18px/70px "ProximaNova";
}
.chat-right-part1 p:first-of-type span {
	color: #0f0;
}
.chat-right-tools {
	float: right;
	padding-right: 20px;
}
.chat-right-tools span {
	display: inline-block;
	width: 36px;
	height: 32px;
	background: #00f;
	vertical-align: middle;
}
.chat-right-tools span:nth-of-type(1) {
	background: #fcfcfc url(images/008.png) no-repeat center center;
	border: solid 1px #ccc;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.chat-right-tools span:nth-of-type(2) {
	background: #fcfcfc url(images/009.png) no-repeat center center;
	border: solid 1px #ccc;
}
.chat-right-tools span:nth-of-type(3) {
	background: #fcfcfc url(images/007.png) no-repeat center center;
	border: solid 1px #ccc;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.chat-right-tools span:nth-of-type(4) {
	width: 0;
	border-left: solid 1px #ccc;
	margin: 0 20px;
}
.chat-right-tools span:nth-of-type(5) {
	margin-right: 20px;
	width: auto;
	font: 14px/32px "ProximaNova";
	color: #56688a;
	background: none;
}
.chat-right-tools span:nth-of-type(6) {
	background: #fcfcfc url(images/005.png) no-repeat center center;
	border: solid 1px #ccc;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.chat-right-tools span:nth-of-type(7) {
	background: #fcfcfc url(images/006.png) no-repeat center center;
	border: solid 1px #ccc;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.message {
	margin: 30px;
}
.message .face {
	float: left;
}
.message div {
	margin-left: 65px;	
	font: 14px/19px "Myriad Pro";
}
.message div p:first-of-type {
	margin-bottom: 5px;
	font: 16px "ProximaNova";
	color: #585d68;
}
.message div p:first-of-type span {
	font: 14px "ProximaNova";
	color: #7f8fa4;
}
.chat-right-part2,
.chat-right-part3 {
	position: relative;
	border-bottom: 1px solid #ccc;
}
.date {
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	margin: auto;
	padding: 0 20px;
	font: 14px/19px "ProximaNova";
	color: #7f8fa4;
	background: #fff;
}
.chat-right-part3 .date {
	color: #2399f1;
}
.chat-right-part3 .message p:nth-of-type(3) {
	position: relative;
}
.chat-right-part3 .message p:nth-of-type(3) img {
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
}
.chat-right-part3 .message p:nth-of-type(3) a {
	position: absolute;
	left: 166px;
	top: 10px;
	border-radius: 5px;
	width: 156px;
	height: 100px;
	background: rgba(0,0,0,.4);
}
.chat-right-part3 .message p:nth-of-type(3) a span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 25px;
	margin: auto;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,.5) url(images/010.png) no-repeat center center;
}
.chat-right-part4 .message input {
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 55px;
	font: 14px/55px "ProximaNova";
	color: #585d68;
	padding-left: 80px;
	//text-indent: 100px;
	background: url(images/35.png) no-repeat -1px -1px;
	margin-top: 10px;
	width: 100%;
}